*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html{
  font-size: 18;
}
body{
  font-family: "Poppins", sans-serif;
  line-height: 1.55;
  color: black;
}
/* typo */
a{
  color: white;
  text-decoration: none;
  font-weight: 700;
}
a:hover{
  color: #fff;
  text-decoration: none;
}
h1{
  color: white;
  font-size: 70px;
  font-weight: 700;
  letter-spacing: .5rem;
}
h3.large{
  font-size: 2.15rem;
  font-weight: 700;
  letter-spacing: 0.5rem;
  margin-left: 2rem;
  
}
p span{
  margin-top: 1rem;
  font-weight:bold;
}
h4.large{
  font-size: 1.9rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  margin-left: 2rem;
}
p.large{
  font-size: 1.75rem;
  font-weight: 400;
  letter-spacing: -1px;
}


/* layout */
.about{
  max-width: 100%;
  margin: 0;
  background-color: black;
}

/* header */
section{
  padding:5rem 0;
  min-width: 100%;
}
.header{
	display:flex;
	justify-content: space-between;
	align-items:center;
  background-color: black;
  color: white;
  min-width:400px;
  width: 400p;

}
.header img{
  width:  50%;
  border-radius: 50px;
  border: 1px solid #fff;
}

#btn-head{

  border: 1px solid rgb(159, 118, 87);
  font-weight: 700;
}
nav ul{
  list-style: none;
  display:flex;
  gap: 2rem;
  padding: 0;
  margin: 0;
  align-items: center;
}
/* sections */
.section-1 p{
  background-color: black;
  color: #8f8f8f;
  word-wrap: break-word;
width: 35%;
font-size: 15px;
font-weight: 300;

}
  .section-1 div{
  padding-left: 9rem;

}
.section-1{
  padding-bottom: 1rem;
}
.section-2{
  margin-top: 6rem;

}
.tokenomics{
  margin-top: 6rem;
}
.section-3{
  margin-top: 6rem;
  margin-bottom: 6rem;

}
.section-2 p{
  color: #8f8f8f;
  word-wrap: break-word;
width: 85%;
margin-bottom: 5rem;
font-size: 16px;
font-weight: 300; 
margin-left: 2rem;

}
#tokn p{
  color:#8f8f8f;
font-size: 16px;
font-weight: 300; 
margin-left: 2rem;
}
#tokn p.large{
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: -1px;
  color: black;
  font-family: Arial;
 
}
#tokn{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap: 2.5rem;
  margin-left:3rem ;
  justify-content: space-between;
}
.roadmap{
background-color: rgb(150, 139, 139);
padding-top: .5rem;
margin-top: 6rem;
border-radius: 1rem;
}
.section-3 h3,
.section-3 p{
  text-align: center;
  color: #fff;
  
}
.section-3 p{
  color: white;
margin-top: .6rem;
margin-bottom: 3rem;
font-size: 16px;
font-weight: 300; 
margin-left: 2rem;
}
.roadmap ul li{
  list-style: georgian;
  margin-left:2rem;
 
}
.roadmap li{

  margin-bottom: 1.7rem;
}
 .road{
  display:grid;
  grid-template-columns:repeat(4, 1fr);
  color: #fff;
  gap: 5rem;
  margin: 0 1.6rem;
} 
